annotated-types
anyio
blinker
certifi
cffi
circuitbreaker
click
cryptography
deprecation
Flask
gotrue
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
oci
packaging
postgrest
pycparser
pydantic
pydantic_core
pyOpenSSL
python-dateutil
pytz
realtime
six
sniffio
storage3
StrEnum
supabase
supafunc
typing_extensions
websockets
Werkzeug
