arrow
asgiref
attrs
beautifulsoup4
binaryornot
cached-property
cachelib
certifi
cffi
chardet
charset-normalizer
click
commonmark
contourpy
cookiecutter
coreapi
coreschema
cryptography
cycler
Cython
defusedxml
distlib
distro
Django
django-swift-auth
django-templated-mail
Django-Verify-Email
djangorestframework
djangorestframework-simplejwt
djoser
dnspython
docker
et-xmlfile
exceptiongroup
filelock
Flask
Flask-Caching
Flask-Excel
Flask-Login
fonttools
gcloud
googleapis-common-protos
gunicorn
httpie
httplib2
idna
iniconfig
install
investpy
isodate
itsdangerous
itypes
jdcal
Jinja2
jinja2-time
json2table
jws
kiwisolver
lml
lxml
MarkupSafe
matplotlib
Mesa
mogrify
mssql-django
multidict
multitasking
mysql-connector-python
networkx
numpy
oauth2client
oauthlib
openpyxl
packaging
pandas
passlib
pdfminer.six
pdfplumber
Pillow
platformdirs
pluggy
pp-ez
pprintpp
protobuf
pyasn1
pyasn1-modules
pycparser
pycrypto
pycryptodome
pyexcel
pyexcel-io
pyexcel-webio
Pygments
PyJWT
pymongo
PyMySQL
pyodbc
pyparsing
PyPDF2
Pyrebase
Pyrebase4
PySocks
pytest
python-dateutil
python-jwt
python-slugify
python3-openid
pytz
PyYAML
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rsa
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tabula-py
text-unidecode
texttable
tk
tomli
tornado
tqdm
Unidecode
uritemplate
urllib3
virtualenv
Wand
websocket-client
Werkzeug
whitenoise
xlrd
XlsxWriter
yfinance
zeep
