/* Use Google Fonts CDN for Poppins with multiple weights */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply the Poppins font to the body */
body {
    font-family: "Poppins", sans-serif;
    /* Use a fallback font (like sans-serif) in case Poppins is not available */
}

nav{
    background-color: #FCC525;
    color: white;
    margin-bottom: 2rem;
}

.image-container{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer{
    text-align: center;
    color: lightgray;
    margin-top: 2rem;
}

h2{
    margin-bottom: 1.5rem;
}

h1{
    text-align: center;
}

video{
    border: 2px solid #FCC525;
    border-radius: 2rem;
}

