body{
    font-family: "Poppins";
}

nav{
    background-color: #FCC525;
    color: white;
    margin-bottom: 2rem;
}

.image-container{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer{
    text-align: center;
    color: lightgray;
    margin-top: 2rem;
}

h2{
    margin-bottom: 1.5rem;
}

h1{
    text-align: center;
}

video{
    border: 2px solid #FCC525;
    border-radius: 2rem;
}

