<!DOCTYPE html>
<html>
  <head>
    <title>Compra de cliente</title>
    <!-- Add the link to Bootstrap CSS for mobile -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='imagenes/favicon.png') }}"
      type="image/x-icon"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="text-center image-container">
        <img
          src="{{ url_for('static', filename='imagenes/logo.png') }}"
          alt="Imagen 1"
          style="max-width: 100%"
        />
      </div>

      <h2 class="text-center mt-4">Registro Compra de Gasolina</h2>

      <form action="/submit" method="post">
        <div class="form-group">
          <label for="busqueda">Búsqueda de Placa:</label>
          <div class="input-group">
            <input
              type="search"
              class="form-control"
              id="busqueda"
              name="busqueda"
              required
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-danger"
                type="button"
                id="searchButton"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="monto">Monto:</label>
          <input
            type="number"
            class="form-control"
            id="monto"
            name="monto"
            required
          />
        </div>

        <div class="form-group">
          <label for="litros">Litros:</label>
          <input
            type="number"
            class="form-control"
            id="litros"
            name="litros"
            required
          />
        </div>

        <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem">
          <button type="submit" class="btn btn-danger btn-block">
            Registrar Compra
          </button>
        </div>
      </form>
    </div>
    <footer>
      <p>Oxxo Gas Rewards</p>
    </footer>

    <!-- Add the links to the scripts of Bootstrap JS for mobile (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
