<!DOCTYPE html>
<html>
  <head>
    <title>Clientes</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='imagenes/favicon2.png') }}"
      type="image/x-icon"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <style>
      .pagination a,
      .pagination span {
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        background-color: #fcc525;
        color: white;
        border-radius: 4px;
        margin: 2px;
      }

      .pagination a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Clientes Oxxo Gas</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead
            class="thead-danger"
            style="background-color: #dc3444; color: white"
          >
            <tr>
              <th>Placa</th>
              <th>Nombre Completo</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Edad</th>
              <th>Sexo</th>
              <!-- Add more table headers for other columns as needed -->
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td>{{ row.plateid }}</td>
              <td>{{ row.first_name }} {{ row.last_name }}</td>
              <td>{{ row.email }}</td>
              <td>{{ row.phone }}</td>
              <td>{{ row.age }}</td>
              <td>{{ row.sex }}</td>
              <!-- Add more table cells for other columns as needed -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination" style="justify-content: center">
      <a href="{{ url_for('datos', page=1) }}">Primero</a>
      {% if current_page > 1 %}
      <a href="{{ url_for('datos', page=current_page-1) }}">Anterior</a>
      {% endif %}
      <span>Página {{ current_page }} de {{ total_pages }}</span>
      {% if current_page < total_pages %}
      <a href="{{ url_for('datos', page=current_page+1) }}">Sig</a>
      {% endif %}
      <a href="{{ url_for('datos', page=total_pages) }}">Último</a>
    </div>
    <footer class="text-center">
      <p>Oxxo Gas Rewards</p>
    </footer>

    <!-- Add Bootstrap JavaScript and jQuery scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
